@import url('https://fonts.googleapis.com/css?family=Lato:700|Righteous&display=swap');
h3 {
  color: brown;
}

html, body {
  height: 100%;
  font-family: 'Lato';
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-in-btn {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #0c0;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  grid-area: button;
  margin-top: 20px;
  padding: 10px 0px;
  width: 300px;
  }

.log-in-btn:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #000;
  transform: translateY(-7px);
}

.PageContainer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 300px auto;
  grid-template-areas:
  "card card card"
  ". button .";
}

.CardContainer {
  grid-area: card;
  display: flex;
  justify-content: space-between; 
  background-color: whitesmoke;
  width: 800px
}

.call-to-action {
  color: white;
  font-size: 50px;
  margin: 0vh 0vw 5vh 0vw;
  white-space: pre-wrap;
  margin: 0px 20px 0px 20px;
}

@media only screen and (max-width: 800px) {
    .CardContainer {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .call-to-action{
      font-size: 30px;
    }
    .PageContainer {
      grid-template-areas: 
      ". button ."
      ". card .";
    }
    .log-in-btn {
      margin-top: -5vh;
    }
  }