.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

input{
    flex: 1;
    padding: 0px 20px;
    border-radius: 45px 0px 0px 45px;
    border: 1px solid grey;    

    font-size: 20px;

}

.submit-btn {
    width: 120px;
    margin-right: 10px;
    padding: 5px 40px 5px 20px;
    background-color: #0c0;

    color: #fff;
    font-weight: bold;
    text-align: center;

    border-radius: 0px 45px 45px 0px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    border: none;
    outline: none;
    font-size: 20px;

}


 button:focus {outline:0;}
*:focus {
    outline: none;
}

@media only screen and (max-width: 1200px){
    .input-container{
        width: 90vw;
    }
}

@media only screen and (max-width: 800px) {
    .input-container {
        font-size: 12px;
    }
    input{
        font-size: 20px;
    }

    .submit-btn{
        font-size: 20px;
        width: 110px;
        
    }
  }

